<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<Properties>
		<Property name="log_pattern">
			%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
		</Property>
	</Properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${log_pattern}" />
		</Console>
		<RollingFile name="File" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${log_pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="com.linkeIT.api" level="debug" additivity="false">
			<appender-ref ref="File" />
			<appender-ref ref="Console" />
		</logger>
		<root level="info">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>